.Product {
  .Content {
    margin: 100px 0px;

    .card {
      display: flex;
      justify-content: center;
      gap: 100px;
      img {
        max-width: 581px;
        width: 100%;
      }
      .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 30px;
        button {
          width: 100%;
          margin: 14px 0px;
          padding: 10px 0px;
          border-radius: 3px;
          color: white;
          background-color: rgb(18, 19, 20);
          color: rgb(250, 250, 250);
          font-size: 20px;
          text-align: center;
          cursor: pointer;
        }
      }
    }
  }
}
